$font-size-base     = 20px
$font-size-small    = $font-size-base - 3px
$font-size-smaller  = $font-size-base - 5px
$font-size-large    = $font-size-base + 3px
$font-size-larger   = $font-size-base + 5px

$line-height-base   = 1.6

$font-size-headings-step  = 4px
$font-size-headings-base  = 36px

$code-font-size     = 14px
