// Custom styles.

.feed-link {
  a {
    color: $sidebar-nav-color;
    border: none;

    i {
      color: $sidebar-nav-color;
      font-size: 14px;
    }

    &:hover {
      color:white;
      background: $sidebar-nav-color;

      i { color: white; }
    }
  }
}
